<h1><%= @user.name %>のページ</h1>
<p id="notice"><%= notice %></p>
<p>メールアドレス: <%= @user.email %></p>
<div class="contents">
  <p><div class="content1"><%= link_to 'All Posts', blogs_path %></div></p>
  <p><div class="content2"><%= link_to 'Make new Post', new_blog_path %></div></p>

<table>
  <% if @favorites.empty? %>
    <h2>まだお気に入りがありません。</h2>
  <% else %>
    <h2>お気に入り<%= @favorites.count %> 件</h2>    
    <h2>お気に入られた件数 <%= @favorited_total_counts %> 件</h2> 

  <% end %>
<div class="notice">
  <p id="notice"><%= notice %>
</div>
<%= link_to 'Back', user_path(current_user.id), class: "button3"  %>
<br>
  <% @favorites.each do |favorite| %>
    <tr>
      <% if favorite.user_id == current_user.id %>
        <% if favorite.present? %>
          <tr>
            <td>Posted by :&emsp;<%= favorite.blog.user.name %></td>       
            <td></td>
            <td><%= button_to '↓Unlike',favorite_path(id: favorite.id, blog_id: favorite.blog_id), method: :delete, class: 'unlike' %></td>  
          </tr>          
        <% else %>
          <tr>
            <td>Posted by :&emsp;<%= favorite.blog.user.name %></td>       
            <td></td>
            <td><%= button_to 'Like', favorites_path(blog_id: blog.id), method: :post, class: "like" %></td>
          </tr>            
        <% end %>
          <tr><th colspan="3" class="favorite"><%= favorite.blog.title %></th></tr>
          <tr><th colspan="3" class="favorite"><%= favorite.blog.content %></th></tr>        
      <% end %>      
    </tr>
  <% end %>
</table>